:root {
  --accent-color: #ffef00;
  --primary-color: #959595;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Jost", sans-serif;
}
h2 {
  font-size: 35px;
}
h3 {
  color: var(--primary-color);
  margin-top: 10px;
}
p {
  font-size: 18px;
}

.hero-container {
  margin-left: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.hero-container h1 {
  font-size: 55px;
  color: var(--primary-color);
  font-weight: 375;
}
.hero-container h2 {
  font-size: 35px;
}
.hero-container p {
  font-size: 20px;
}
.contact-container {
  text-align: center;
}
.btn-secondary {
  margin-top: 20px;
  padding: 10px 25px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  background-color: var(--primary-color);
  border: none;
}
.btn-secondary-about {
  margin-top: 20px;
  padding: 10px 25px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  background-color: var(--primary-color);
  border: none;
}
.btn-outline-secondary {
  border-color: var(--primary-color);
}
.series-description-header h2 {
  color: var(--primary-color);
}
.portfolio-row h3 {
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 0px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .btn-outline-secondary {
    display: block;
    margin: 0 auto;
  }
  .hero-container h1,
  h2 {
    text-align: center;
  }
  .hero-container button {
    display: none;
  }
  .about-description button {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.social-links a {
  color: var(--primary-color);
  font-size: 30px !important;
  padding: 10px;
}
.social-links :hover {
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}
.inquire-call-to-action {
  background-color: rgba(255, 239, 0, 0.15);
  padding: 25px;
  border-radius: 15px;
}
